@import "../utilities/variables";

%elementSizing {
    border: solid 1px $violeta;
    border-radius: .8rem;
    padding: 1rem;
}

.articleElement{
    display: flex;
    flex-direction: column;
    .articleElementBTN{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}
.btnForm{
    margin-top: 2rem;
    width: 20rem;
    &:hover {
        transform: scale(1.1);
    }
}
.articleElement .contenido__btn--violeta {
    width: 50%;
}
.articleLabel{
    text-align: left;
    margin: 1rem;
    font-size: 2rem;
    margin-top:2rem;
}
.elementSize {
    font-size: 2rem;
    @extend %elementSizing;
    transition: 300ms;
}
.elementSize:hover,
.elementSize:focus,
.articleTextArea:hover,
.articleTextArea:focus,
.elementSize--S:hover,
.elementSize--S:focus{
    transform: scale(1.1);
    @extend %elementSizing;
    outline: none;
}
.elementSize--S{
    width: 20%;
    font-size: 2rem;
    @extend %elementSizing;
}

.articleTextArea{
    height: 10rem;
    font-size: 1.8rem;
    @extend %elementSizing;
}

@media (min-width:768px) {
    .divForm{
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .DivArticleForm{
        width: 70%;
    }
}

