@import "../utilities/variables";

.section__h3--team{
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    color: $violeta;
    display: inline-block;
    background-color: #cecece38;
    padding: 1rem;
    border-radius: .5rem;
}
.divTeamMate1,
.divTeamMate2,
.divTeamMate3,
.divTeamMate4 { 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #cecece38;
    
}
.divTeamMate4{
    margin-bottom: 5rem;
}
.fotoTeam{
    grid-area: fotoTeam;
    min-width: 25rem;
    width: 60%;
    border-radius: 8rem;
}
.team__contenido {
    grid-area: teamContenido;
}
.games__svg {
    display: none;
    grid-area: flecha;
    min-width: 3rem;
    max-width: 20%;
}
@media (min-width:768px) { 
    .divTeamMate1,
    .divTeamMate2,
    .divTeamMate3,
    .divTeamMate4 {
    display: grid;
    align-content: center;
    grid-template-areas: 
    "fotoTeam teamContenido flecha";
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr 10%;
}
.team__contenido{
    text-align: left;
}
.games__svg{
    display: block;
    cursor: pointer;
    transition: 300ms;
        &:hover {
            transform: scale(1.4);
        }
    }
}